@import '../../variables.scss';

.main {
  .parallax {
    background-image: url(../../image/main.jpg);
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    transform-style: inherit;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
  .main-hat {
    position: absolute;
    height: 89vh;
    width: 35vw;
    display: flex;
    justify-content: center;
    flex-flow: nowrap column;
    z-index: 100;
    color: rgba(255, 255, 255, 0.68);
    padding: 50px;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 49%,
      rgba(255, 255, 255, 0) 100%
    );
    .hat-logo {
      width: 500px;
      margin: 20px 0;
    }
    #hat-sub {
      font-size: 20px;
      margin: 30px 0;
      font-family: 'Merriweather', serif;
      font-family: 'Poppins', sans-serif;
    }
  }
  .main-body {
    display: flex;
    justify-content: center;
    flex-flow: wrap column;

    .main-new-movies {
      margin: 50px 0px;
      height: 555px;
      display: flex;
      justify-content: center;
      flex-flow: wrap row;
      background: linerGradient(#ff000000, #ff0000ba, #ff000000);
      .card {
        height: 500px;
        margin: 0 5px;
      }
      .new-movies-title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linerGradient(#ff000000, #ff0000ba, #ff000000);

        h3 {
          font-size: 30px;
          margin: 0;
          font-family: Roboto;
          color: rgba(255, 217, 0, 0.842);
        }
      }
    }
    .body-text {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $global-title-color;
      margin: 50px 10px;
      text-align: center;
      #main-text {
        flex-flow: wrap column;
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main {
    .main-hat {
      position: absolute;
      height: 100vh;
      width: 100vw;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 10%,
        rgba(255, 255, 255, 0) 100%
      );
      .hat-logo {
        width: 70vw;
        margin: 20px 0;
      }
      #hat-sub {
        text-align: center;
        font-size: 18px;
        margin: 20px 0;
      }
    }
  }
}

@media screen and (max-width: 468px) {
  .main {
    .main-hat {
      position: absolute;
      width: 100vw;
      display: flex;
      padding: 5px;
      justify-content: center;
      align-items: center;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 10%,
        rgba(255, 255, 255, 0) 100%
      );
      .hat-logo {
        width: 70vw;
        margin: 20px 0;
      }
      #hat-sub {
        text-align: center;
        font-size: 14px;
        margin: 20px 5px;
      }
    }
    .main-new-movies {
      margin: 10px 0px;
    }
    .main-body {
      .body-text {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $global-title-color;
        margin: 10px 5px;
        text-align: center;
      }
    }
  }
}
