@import '../../variables.scss';

.main {
  #parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../../image/spase2.jpg);
    box-sizing: border-box;
    transform-style: inherit;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
      position: absolute;
      top: 47%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-family: 'Arial';
      text-transform: uppercase;
      opacity: 0.2;
      font-size: 80px;
    }
  }
  .main-body {
    display: flex;
    justify-content: center;
    flex-flow: wrap column;

    .main-new-movies {
      margin: 50px 0px;
      height: 555px;
      display: flex;
      justify-content: center;
      flex-flow: wrap row;
      background: linerGradient(#ff000000, #ff0000ba, #ff000000);
      .new-movies-title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linerGradient(#ff000000, #ff0000ba, #ff000000);

        h3 {
          font-size: 30px;
          margin: 0;
          font-family: Roboto;
          color: rgba(255, 217, 0, 0.842);
        }
      }
    }
    .body-text {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $global-title-color;
      margin: 50px 10px;
      text-align: center;
      #main-text {
        flex-flow: wrap column;
        width: 90%;
      }
    }
  }
}
