@import '../../variables.scss';

.main {
  #parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../../image/main.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-clip: text;
    font-weight: bold;
    font-size: 25rem;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &:before {
      content: '';
      background-image: inherit;
      background-size: cover;
      background-position: 50% 50%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -2;
    }
  }
  #main-hat-title {
    position: absolute;
    color: #fff;
    font-family: 'Arial';
    text-transform: uppercase;
    opacity: 0.4;
    font-size: 90px;
    text-align: center;
    width: 100%;
    margin-top: 20vh;
  }
  .main-body {
    display: flex;
    justify-content: center;
    flex-flow: wrap column;

    .main-new-movies {
      margin: 50px 0px;
      height: 555px;
      display: flex;
      justify-content: center;
      flex-flow: wrap row;
      background: linerGradient(#ff000000, #ff0000ba, #ff000000);
      .new-movies-title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linerGradient(#ff000000, #ff0000ba, #ff000000);

        h3 {
          font-size: 30px;
          margin: 0;
          font-family: Roboto;
          color: rgba(255, 217, 0, 0.842);
        }
      }
    }
    .body-text {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $global-title-color;
      margin: 50px 10px;
      text-align: center;
      #main-text {
        flex-flow: wrap column;
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 712px) {
  .main {
    #parallax {
      font-size: 12rem;
    }
  }
}
