@import '../../variables.scss';

.movie-card {
  width: 300px;
  margin: 20px;
  cursor: pointer;
  &:hover {
    .add-watch {
      transition: linear 1.2s;
      display: inline;
    }
  }
  .add-watch {
    position: absolute;
    color: $global-revers-color;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    margin: 5px;
  }
  .card-content {
    height: 500px;
    background-color: $global-primary-background;
    color: $global-revers-color;
    .card-hover {
      .card-image {
        transition: height 0.2s cubic-bezier(1, 1, 1, 1) 100ms;
        &:hover {
          height: 500px;
        }
      }
    }
    .card-inf {
      h2 {
        text-align: center;
        margin: 10px 2px 2px 2px;
        height: 50px;
      }
      .card-data {
        display: flex;
        flex-flow: wrap row;
        justify-content: space-between;
        padding: 5px;
        .rating {
          margin: 3px;
        }
        p {
          margin: 5px;
        }
      }
    }
  }
}
