@import '../../variables.scss';

.movie-card {
  max-width: 300px;
  margin: 20px;
  cursor: pointer;
  .card-content {
    height: 500px;
    color: $global-revers-color;
    background-color: $global-primary-background;
    .card-inf {
      h2 {
        text-align: center;
      }
      .card-data {
        display: flex;
        flex-flow: wrap row;
        justify-content: space-between;
        padding: 5px;
        .rating {
          margin: 3px;
        }
        p {
          margin: 5px;
        }
      }
    }
  }
  :hover {
    .card-content {
      .card-image {
        height: 500px;
        transition: 0.2s linear;
      }
      // .card-inf {
      //   display: none;
      // }
    }
  }
}
