@import '../../variables.scss';

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: linear 0.3s;
  color: $global-tab-color;
  border: 1px solid $scroll-bar-color;
  min-height: max-content;
  padding: 5px;
  margin: 2px;
  &:hover {
    color: $global-background;

    background-color: $scroll-bar-color;
  }
  &:active {
    transition: linear 0.1s;
    color: $global-tab-color;
    background-color: $global-primary-background;
  }
}
