.button-group {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: sticky;
}

.library-sort {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  width: 100%;
  .hat-library-sort {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: center;
  }
}
