@import '../../variables.scss';

.side-bar {
  .side-content {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    margin: 0 10px;
  }
}

.side-link {
  text-decoration: none;
  color: $global-tab-color;
  text-transform: uppercase;
}
