@import '../../variables.scss';

.sort-panel {
  background-color: $global-primary-background;
  border-radius: 3px;
  height: max-content;
  width: 80%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-flow: wrap row;
}
