@import '../../variables.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: wrap row;
  padding: 10px 10px;
  img {
    height: 25px;
    padding: 10px;
  }
  .contact-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
    a {
      margin: 10px;
    }
  }
  h5 {
    font-size: 30px;
    color: $global-tab-color;
    padding: 10px;
    margin: 0;
  }
}
