@import '../../variables.scss';

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: wrap column;
  min-height: 300px;
  overflow: hidden;
  color: $global-revers-color;
  background: #03031d;
  padding-top: 10px;

  .top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: wrap row;
    width: 100%;

    .img {
      height: 60px;
      margin: 5px;
    }
  }
  .center {
    display: flex;
    justify-content: center;
    flex-flow: nowrap row;
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: $global-revers-color;
      margin: 5px;
      &:hover {
        color: $global-title-color;
      }
    }
  }
  .alpha {
    bottom: 10px;
    right: 10px;
    color: $global-warning-color;
  }
}
