@import '../../variables.scss';

.sort-by {
  color: $global-tab-color;
  transition: linear 0.2s;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  p {
    margin: 0;
    font-size: 20px;
  }
}

.sort-checked {
  color: $scroll-bar-color;
}
