@import './variables.scss';

.App {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row nowrap;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    margin-bottom: 10px;
  }
}

.padding-top {
  padding-top: 40px;
}

.container {
  max-width: 1470px;
  margin-left: auto;
  margin-right: auto;
}
