$global-primary-background: #333341;
$global-background: #212121;
$global-success-color: #237804;
$global-error-color: #e20000;

$app-bar-color: #03031d;

$scroll-bar-color: #414162;

$global-color: #141414;
$global-revers-color: #f5f5f5;
$global-tab-color: #c0c0c0;
$global-title-color: #d6e4ff;
$global-border: #10239e;
$global-primary-border: #000e66;

$global-link-hover-color: #c4d0ff;
$global-link-color: #161616;
