@import '../../variables.scss';

.scroll-area {
  overflow-y: auto;
  margin: 0;
  padding: 0;
  &::-webkit-scrollbar {
    width: 0.6em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $global-primary-background;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scroll-bar-color;
    outline: 1px solid $global-primary-background;
    border-radius: 70px;
  }
}
